RewriteEngine On

# Si le fichier existe (image/css/js...) on le sert normalement
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon on passe par le Front Controller
RewriteRule ^ index.php [QSA,L]
